<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<div class="header-container" th:fragment="secureHeader">
		<div class="header1">
			<div class="main-page-title">
				<h1>Football <span class="highlight">Club</span></h1>
			</div>
			<div sec:authorize="isAuthenticated()" class="header-profile-div">
				<a th:if="${#authentication.getPrincipal().getUser().imageExists() == true}" th:href="@{/userProfile}">
					<img class="header-profile-image" th:src="@{'/uploads/users/' + ${#authentication.getPrincipal().getUser().getId()} +'.jpg'}">
				</a>
				<a th:unless="${#authentication.getPrincipal().getUser().imageExists() == true}" th:href="@{/userProfile}">
					<img class="header-profile-image" th:src="@{'/img/default/default.png'}">
				</a>
			</div>
			<div class="header-authorize-div">
				<p sec:authorize="isAnonymous()" ><a th:href="@{/home}">Login</a></p>
				<p sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></p>
			</div>		
		</div>
		<div class="header2">
				<nav>
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#">Admin</a>
							<ul>
								<li><a th:href="@{/secure/admin/user}">Users</a></li>
								<li><a th:href="@{/secure/admin/post/1}">Posts</a></li>
							</ul>
						</li>
						<li><a th:href="@{/publicPost/1}">Posts</a>
						<li sec:authorize="isAuthenticated()"><a href="#">Staff</a>
							<ul>
								<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/coach/1}">Coaches</a></li>
								<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/player/1}">Players</a></li>
							</ul>
						</li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/team}">Teams</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/training/1}">Training</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/tournament/1}">Tournaments</a></li>
						<li><a th:href="@{/contacts}">Contacts</a></li>
						<li><a th:href="@{/about}">About</a></li>
					</ul>
				</nav>
			</div>
		</div>
</body>
</html>