<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<div class="header-container" th:fragment="secureHeader">
		<div class="header1">
			<div class="main-page-tittle">
				<h1>Futbola <span class="highlight">Parks</span></h1>
				<p sec:authorize="isAnonymous()" ><a href="login.html">Login</a></p>
				<p sec:authorize="isAuthenticated()"><a href="login.html">Logout</a></p>
			</div>
		</div>
		<div class="header2">
				<nav>
					<ul>
						<li><a th:href="@{/}">Home</a></li>
						<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#">Admin</a>
							<ul>
								<li><a th:href="@{/secure/admin/user}">Users</a></li>
								<li><a th:href="@{/secure/admin/post}">Posts</a></li>
							</ul>
						</li>
						<li sec:authorize="isAuthenticated()"><a href="#">Staff</a>
							<ul>
								<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/coach}">Coaches</a></li>
								<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/player}">Players</a></li>
							</ul>
						</li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/team}">Teams</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/training}">Training</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/rest/tournament}">Tournaments</a></li>
						<li><a th:href="@{/contacts}">Contacts</a></li>
						<li><a th:href="@{/about}">About</a></li>
					</ul>
				</nav>
			</div>
		</div>
</body>
</html>