<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Coach</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<div class="main-container">
		<div class="tittle-div">
			<h1>Coaches</h1>
		</div>
		<div class ="search-div">
			<form th:action="@{/rest/coach/1}">
				<label>Search</label>
				<input class="search-input" id="search-input" type="text" name="keyword" th:value="${keyword}" required minlength="1" maxlength="25"
				title="Enter coachs: name,surname or category."/>
				
				<input class="search-button" type="submit" value="Search"/>
				
				<input class="clear-button" type="button" value="Clear" id="clear-button"/>
			</form>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<button class="add-button"  id="addButton">Add new Coach</button>
			</div>
		</div>
		<div class="table-div">
			<span class="success" th:text="${successMessage}"></span>
			<span class="delete" th:text="${deleteMessage}"></span>
			<table class="custom-table">
				<tbody>
					<tr>
						<th>Photo</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Category</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Options</th>
					</tr>
					<tr th:each="coach : ${coaches}">
						<td >
							<a class="photo-button" th:href="@{/rest/coach/coachDetails/(id=${coach.id})}">
	 							<img th:if="${coach.imageExists()==true}" class="min-images" th:src="@{'/uploads/coaches/' + ${coach.id} +'.jpg'}" width="60" height="60">
	 							<img th:unless="${coach.imageExists()==true}" class="min-images" th:src="@{'/img/default/default.png'}" width="60" height="60">
	 						</a>
						</td>
						<td th:text="${coach.name}"></td>
						<td th:text="${coach.surname}"></td>
						<td th:text="${coach.category}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" class="button-group">
							<a class="edit-button" th:href="@{/rest/coach/findById/(id=${coach.id})}">Edit</a>
							<a class="delete-button" th:href="@{/rest/coach/delete/(id=${coach.id})}" >Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<span th:if="${totalPages == 1}"  ></span>
			<div th:unless="${totalPages == 1}"  class="paging">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				    <a th:if="${currentPage != i}" th:href="@{'/rest/coach/' + ${i}}">[[${i}]]</a>
				    <span class="pagging-disabled" th:unless="${currentPage != i}">[[${i}]]</span>
				</span>
			</div>
		</div>
	</div>
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
<!--Add new modal start  -->
<div id="addModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Add new Coach</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/coach/addNew}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Name</label>
						<input type="text"  name="name" required pattern="[a-zA-Z\s]{2,25}" 
							   title="Name should be 2-25 character long and contain only big and small letters">
					</div>
					<div class="form-div">
						<label>Surname</label>
						<input type="text"  name="surname" required pattern="[a-zA-Z\s]{2,25}" 
							   title="Surname should be 2-25 character long and contain only big and small letters">
					</div>
					<div class="form-div">
						<label>Age</label>
						<input type="text" name="age" required pattern="[0-9]{1,2}" 
							   title="Age should be 1-2 characters long and contain only numbers">
					</div>
					<div class="form-div">
						<label>Phone</label>
						<input type="text"  name="phone" pattern="[0-9]{8,15}" 
							   title="Phone should be 8-15 character long and contain only numbers">
					</div>
					<div class="form-div">
						<label>Email</label>
						<input type="email"  name="email">
					</div>
					<div class="form-div">
					<label>Category</label>
						<select required name="category">
							<option>A-UEFA-PRO</option>
							<option>A-UEFA</option>
							<option>B-LFF</option>
							<option>C-LFF</option>
						</select>
					</div>
					<div class="form-div">
						<label>Select image:</label>
						<input type="file" id="fileSize" name="file" accept="image/jpeg">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Add new modal end -->

<!--Edit modal start  -->
<div id="editModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Edit Coach</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/coach/update}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Id</label>
						<input type="text" id="idEdit" name="id" readonly>
					</div>
					<div class="form-div">
						<label>Name</label>
						<input type="text" id="nameEdit" name="name" required pattern="[a-zA-Z\s]{2,25}" 
							   title="Name should be 2-25 character long and contain only big and small letters">
					</div>
					<div class="form-div">
						<label>Surname</label>
						<input type="text" id="surnameEdit" name="surname" required pattern="[a-zA-Z\s]{2,25}" 
							   title="Surname should be 2-25 character long and contain only big and small letters">
					</div>
					<div class="form-div">
						<label>Age</label>
						<input type="text" id="ageEdit" name="age" required pattern="[0-9]{1,2}" 
							   title="Age should be 1-2 characters long and contain only numbers">
					</div>
					<div class="form-div">
						<label>Phone</label>
						<input type="text" id="phoneEdit" name="phone" pattern="[0-9]{8,15}" 
							   title="Phone should be 8-15 character long and contain only numbers">
					</div>
					<div class="form-div">
						<label>Email</label>
						<input type="email" id="emailEdit" name="email">
					</div>
					<div class="form-div">
					<label>Category</label>
						<select required name="category" id="categoryEdit">
							<option>A-UEFA-PRO</option>
							<option>A-UEFA</option>
							<option>B-LFF</option>
							<option>C-LFF</option>
						</select>
					</div>
					<div class="form-div">
						<label>Select image:</label>
						<input type="file" id="fileSize" name="file" accept="image/jpeg">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Edit modal end-->

<!--Delete modal start  -->
<div id="deleteModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Delete Coach</h3>
			</div>
			<div class="modal-body">
				<H2>Are u sure to delete this coach?</H2>
			</div>
			<div class="modal-footer">
				<a href="" class="modalDeleteButton" type="submit">Delete</a>
			</div>
		</div>
	</div>
<!--Delete modal end -->


<script src="/js/addModal.js"></script>
<script src="/js/deleteModal.js"></script>
<script src="/js/coachModal.js"></script>			
</body>
</html>