<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<section class="main-page-showcase">
		<div class="container">
			<h1>Welcome, to Football Club</h1>
			<p>This is place for some random but , good text from our club to all our clients </p>
		</div>
	</section>
	
	<section class="news-showcase">
		<div class="container">
			<h1>What`s new</h1>
			<div class="slider">
				<div class="slide current">
					<img  th:src="@{'/uploads/posts/' +${currentPost.id}+ '.jpg'}">
					<div class="content">
						<h1 th:text="${currentPost.title}"></h1>
						<p th:text="${currentPost.description}"></p>
					</div>
				</div>
				<div th:each="post:${posts}" class="slide">
					<img  th:src="@{'/uploads/posts/' +${post.id}+ '.jpg'}">
					<div class="content">
						<h1 th:text="${post.title}"></h1>
						<p th:text="${post.description}"></p>
					</div>
				</div>
			</div>
			<div class="navigation-buttons">
				<button id="next">Next</button>
				<button id="prev">Prev</button>
			</div>
		</div>
	</section>
	
	<section class="players-showcase">
		<div class="container">
			<h1>Top Scorers</h1>
				<div th:each="player: ${topScorers}" class="player-box">
					<img  th:src="@{'/uploads/players/' +${player.id}+ '.jpg'}">
					<h3 th:text="${player.name+' '+player.surname}"></h3>
					<p th:text="'Team: '+${player.team.teamName}"></p>
					<p th:text="'Position: '+${player.position}"></p>
					<p th:text="'Golas Scored: '+${player.getAllGoals()}"></p>
					<p th:text="'Tournaments particpated: '+${player.getStatictics().size()}"></p>
				</div>
		</div>
		
		<div class="container">
			<h1>Most assists</h1>
				<div th:each="player: ${mostAssists}" class="player-box">
					<img  th:src="@{'/uploads/players/' +${player.id}+ '.jpg'}">
					<h3 th:text="${player.name+' '+player.surname}"></h3>
					<p th:text="'Team: '+${player.team.teamName}"></p>
					<p th:text="'Position: '+${player.position}"></p>
					<p th:text="'Assists: '+${player.getAllAssists()}"></p>
					<p th:text="'Tournaments particpated: '+${player.getStatictics().size()}"></p>
				</div>
		</div>
		
		<div class="container">
			<h1>Most minutes</h1>
				<div th:each="player: ${mostMinutes}" class="player-box">
					<img  th:src="@{'/uploads/players/' +${player.id}+ '.jpg'}">
					<h3 th:text="${player.name+' '+player.surname}"></h3>
					<p th:text="'Team: '+${player.team.teamName}"></p>
					<p th:text="'Position: '+${player.position}"></p>
					<p th:text="'Total minutes: '+${player.getAllMinutes()}"></p>
					<p th:text="'Tournaments particpated: '+${player.getStatictics().size()}"></p>
				</div>
		</div>
	</section>
	

	
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
<script src="/js/index.js"></script>
</body>
</html>