<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>

<body>
	<div class="login-container">
		<div class="login-panel">
		    <form  th:action="@{/login}" method="post">
		      <div>
		      	<h2>Login</h2>
		      	<span th:if="${param.error}" class="delete" >Invalid Username or password</span>
		        <div>
		          <input type="text" placeholder="Username" name="username" required="required" autofocus pattern="[a-zA-Z0-9]{4,25}" 
							   title="Username should be 4-25 character long and contain only big, small letters and numbers">
		        </div>
		        <div>
		          <input type="password" name="password" placeholder="Password" required="required" pattern="[a-zA-Z0-9]{4,25}" 
							   title="Password should be 4-25 character long and contain only big, small letters and numbers">
		        </div>
		        <button class="login-button" type="submit">Login</button>
		      </div>
		    </form>
  		</div>
	</div>
</body>
</html>