<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Players</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
		<div class="main-container">
		<div class="tittle-div">
			<h1>Players</h1>
		</div>
		<div class ="search-div">
			<form th:action="@{/rest/player}">
				<label>Search</label>
				<input class="search-input" id="search-input" type="text" name="keyword" th:value="${keyword}" required />
				
				<input class="search-button" type="submit" value="Search"/>
				
				<input class="clear-button" type="button" value="Clear" id="clear-button"/>
			</form>
			<div>
				<button class="add-button"  id="addButton">Add new Player</button>
			</div>
		</div>
		<div class="table-div">
			<table class="custom-table">
				<tbody>
					<tr>
						<th>Picture</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Position</th>
						<th>Options</th>
					</tr>
					<tr th:each="player : ${players}">
						<td >
							<a class="photo-button" th:href="@{/rest/player/playerDetails/(id=${player.id})}">
	 							<img class="min-images" th:src="@{'/img/players/' + ${player.id} +'.jpg'}" width="60" height="60">
	 						</a>
						</td>
						<td th:text="${player.name}"></td>
						<td th:text="${player.surname}"></td>
						<td th:text="${player.position}"></td>
						<td class="button-group">
							<a class="edit-button" th:href="@{/rest/player/findById/(id=${player.id})}">Edit</a>
							<a class="delete-button" th:href="@{/rest/player/delete/(id=${player.id})}" >Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
<!--Add new modal start  -->
	<div id="addModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Add new Coach</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/player/addNew}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Name</label>
						<input type="text" name="name">
					</div>
					<div class="form-div">
						<label>Surname</label>
						<input type="text" name="surname">
					</div>
					<div class="form-div">
						<label>Age</label>
						<input type="text" name="age">
					</div>
					<div class="form-div">
						<label>Phone</label>
						<input type="text" name="phone">
					</div>
					<div class="form-div">
						<label>Email</label>
						<input type="text" name="email">
					</div>
					<div class="form-div">
					<label>Position</label>
						<select name="position">
							<option>Select Position</option>
							<option>Striker</option>
							<option>Midlfielder</option>
							<option>Defender</option>
							<option>Goalkeeper</option>
						</select>
					</div>
					<div class="form-div">
					<label>Alternate Position</label>
						<select name="alternatePosition" >
							<option>Select Position</option>
							<option>Striker</option>
							<option>Midlfielder</option>
							<option>Defender</option>
							<option>Goalkeeper</option>
						</select>
					</div>
					<div class="form-div">
					<label>Strong Foot</label>
						<select name="strongFoot" >
							<option>Select</option>
							<option>Left</option>
							<option>Right</option>
						</select>
					</div>
					<div class="form-div">
						<label>Team</label>
						<select name="teamId">
							<option>Select Team</option>
							<option th:each="team:${teams}"
							th:value="${team.id}"
							th:text="${team.teamName}">
						</select>
					</div>
					<div class="form-div">
						<label>Select image:</label>
						<input type="file" id="photo" name="file" accept="images/*">
					</div>
					<button class="modalSaveButton" type="submit">Save</button>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Add new modal end -->

<!--Edit modal start  -->
<div id="editModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Edit Player</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/player/update}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Id</label>
						<input type="text" id="idEdit" name="id" readonly>
					</div>
					<div class="form-div">
						<label>Name</label>
						<input type="text" id="nameEdit" name="name">
					</div>
					<div class="form-div">
						<label>Surname</label>
						<input type="text" id="surnameEdit" name="surname">
					</div>
					<div class="form-div">
						<label>Age</label>
						<input type="text" id="ageEdit" name="age">
					</div>
					<div class="form-div">
						<label>Phone</label>
						<input type="text" id="phoneEdit" name="phone">
					</div>
					<div class="form-div">
						<label>Email</label>
						<input type="text" id="emailEdit" name="email">
					</div>
					<div class="form-div">
					<label>Position</label>
						<select name="position" id="positionEdit">
							<option>Select Position</option>
							<option>Striker</option>
							<option>Midlfielder</option>
							<option>Defender</option>
							<option>Goalkeeper</option>
						</select>
					</div>
					<div class="form-div">
					<label>Alternate Position</label>
						<select name="alternatePosition" id="alternatePositionEdit">
							<option>Select Position</option>
							<option>Striker</option>
							<option>Midlfielder</option>
							<option>Defender</option>
							<option>Goalkeeper</option>
						</select>
					</div>
					<div class="form-div">
					<label>Strong Foot</label>
						<select name="strongFoot" id="strongFootEdit">
							<option>Select</option>
							<option>Left</option>
							<option>Right</option>
						</select>
					</div>
					<div class="form-div">
						<label>Team</label>
						<select id="teamIdEdit" name="teamId">
							<option>Select Team</option>
							<option th:each="team:${teams}"
							th:value="${team.id}"
							th:text="${team.teamName}">
						</select>
					</div>
					<div class="form-div">
						<label>Select image:</label>
						<input type="file" id="photo" name="file" accept="images/*">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Edit modal end-->


<!--Delete modal start  -->
<div id="deleteModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Delete Player</h3>
			</div>
			<div class="modal-body">
				<H2>Are u sure to delete this player?</H2>
			</div>
			<div class="modal-footer">
				<a href="" class="modalDeleteButton" type="submit">Delete</a>
			</div>
		</div>
	</div>
<!--Delete modal end -->
	
<script src="/js/addModal.js"></script>
<script src="/js/deleteModal.js"></script>
<script src="/js/playerModal.js"></script>		
</body>
</html>