<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Coach Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<div class="individual-main-container">
		<div class="individual-tittle-div">
			
		</div>
		<div class="individual-attendance-div">
			<h1 th:text ="${post.title}"></h1>
		</div>
		<div class="individual-side-div">
			<img th:if="${post.imageExists() == true}" class="" th:src="@{'/uploads/posts/' + ${post.id} +'.jpg'}" width="100%" height="300px">
			<img th:unless="${post.imageExists() == true}" class="" th:src="@{'/img/default/default-team.jpg'}" width="100%" height="300px">
		</div>
		<div class="individual-center-div">
			<p class="post-desc-div" th:text="${post.description}"></p>
		</div>
	</div>
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>	
</body>
</html>