<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Administrator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	<div class="admin-main-container">
		<div class="admin-tittle1-div">
			<h1 class="tittle">Add new post</h1>
		</div>
		<div class="admin-tittle2-div">
			<h1>Posts</h1>
		</div>
		<div class="admin-side1-div">
			<form th:action="@{/secure/admin/post/addPost}" method="post" enctype="multipart/form-data">
				<div style=display:none class="form-div">
						<label>User</label>
						<input  type="text" name="userId" th:value="${user.id}" readonly>
				</div>
				<div class="form-div">
						<label>Title</label>
						<input  type="text" name="title" required pattern="[a-zA-Z\s]{4,50}" 
							   title="Name should be 4-50 character long, contain big and small letters">
				</div>
				<div class="form-div">
						<label>Description</label>
						<textarea rows="6" cols="50" name="description" required="required" minlength="2" maxlength="5000" 
							   title="Description should be 4-5000 character long"></textarea>
				</div>
				<div class="form-div">
					<label>Select image:</label>
					<input required="required" type="file" id="photo" name="file" accept="images/jpeg">
				</div>
				<div class="form-div">
					<button class="modalSaveButton" type="submit">Save</button>
				</div>
			</form>
		</div>
		<div class="admin-center1-div">
			<span class="success" th:text="${successMessage}"></span>
			<span class="delete" th:text="${deleteMessage}"></span>
			<table class="custom-table">
				<tbody>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Options</th>
					</tr>
					<tr th:each="post : ${posts}">
						<td><a th:text = "${post.title}"  th:href="@{/publicPost/postDetails/(id=${post.id})}"></a></td>
						<td>
							<span th:if="${post.user == null}">UNKNOWN</span>
							<span th:unless="${post.user == null}" th:text="${post.user.getUsername()}"></span>
						</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" class="button-group">
							<a class="edit-button" th:href="@{/secure/admin/post/findById/(id=${post.id})}">Edit</a>
							<a class="delete-button" th:href="@{/secure/admin/post/delete/(id=${post.id})}" >Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<span th:each="i: ${#numbers.sequence(1, totalPages)}">
				    <a th:if="${currentPage != i}" th:href="@{'/secure/admin/post/' + ${i}}">[[${i}]]</a>
				    <span class="pagging-disabled" th:unless="${currentPage != i}">[[${i}]]</span>
				</span>
			</div>
		</div>
	</div>
<footer>
	<div th:replace="fragments/footer :: footer"></div>
</footer>

<!--Edit modal start  -->
<div id="editModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Edit Post</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/secure/admin/post/update}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Id</label>
						<input type="text" id="idEdit"  name="id" readonly="readonly">
					</div>
					<div class="form-div">
						<label>Title</label>
						<input id="titleEdit" type="text" name="title" required pattern="[a-zA-Z\s]{4,50}" 
							   title="Title should be 4-50 character long">
					</div>
					<div class="form-div">
						<label>Description</label>
						<textarea id="descriptionEdit" rows="6" cols="50" name="description" required pattern="[]{2,25}" 
							   title="Description should be 4-5000 character long"></textarea>
					</div>
					<div class="form-div">
						<label>Select file:</label>
						<input  type="file" id="fileEdit" name="file" accept="images/*">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Edit modal end -->
	
<!--Delete modal start  -->
<div id="deleteModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Delete Post</h3>
			</div>
			<div class="modal-body">
				<H2>Are u sure to delete this post?</H2>
			</div>
			<div class="modal-footer">
				<a href="" class="modalDeleteButton" type="submit">Delete</a>
			</div>
		</div>
	</div>
<!--Delete modal end -->
	
	<script src="/js/post.js"></script>
	<script src="/js/deleteModal.js"></script>
</body>
</html>