<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Posts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<div class="main-container">
		<div class="tittle-div">
			<h1>Posts</h1>
		</div>
		<div class ="search-div">
			<form th:action="@{/publicPost/1}">
				<label>Search</label>
				<input class="search-input" id="search-input" type="text" name="keyword" th:value="${keyword}" required />
				<input class="search-button" type="submit" value="Search"/>
				
				<input class="clear-button" type="button" value="Clear" id="clear-button"/>
			</form>
		</div>
			<div class="table-div">
			<div class="post-container">
				<div class="post-div" th:each="post : ${posts}">
					<ul>
						<li>
							<a class="" th:href="@{/publicPost/postDetails/(id=${post.id})}">
		 						<img class="" th:src="@{'/uploads/posts/' + ${post.id} +'.jpg'}">
		 					</a>
		 				</li>
						<li>
							<div class="post-li">
								<a  th:text = "${post.title}"  th:href="@{/publicPost/postDetails/(id=${post.id})}"></a>
								<span><a th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"></a></span>
							</div>
						</li>	
					</ul>
				</div>
			</div>
				<span th:if="${totalPages == 1}"  ></span>
				<div th:unless="${totalPages == 1}"   class="paging">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
					    <a th:if="${currentPage != i}" th:href="@{'/publicPost/' + ${i}}">[[${i}]]</a>
					    <span class="pagging-disabled" th:unless="${currentPage != i}">[[${i}]]</span>
					</span>
				</div>	
		</div>
	</div>
	
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>	
</body>
<script src="/js/publicPost.js"></script>
</html>