<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Teams</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">

</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<div class="main-container">
		<div class="tittle-div">
			<h1>Teams</h1>
		</div>
		<div class ="search-div">
			<form th:action="@{/rest/team}">
				<label>Search</label>
				<input class="search-input" id="search-input" type="text" name="keyword" th:value="${keyword}" required 
				title="Enter teams name"/>
				<input class="search-button" type="submit" value="Search"/>
				
				<input class="clear-button" type="button" value="Clear" id="clear-button"/>
			</form>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<button class="add-button"  id="addButton">Add new Team</button>
			</div>
		</div>
			<div class="table-div">
			<span class="success" th:text="${successMessage}"></span>
			<span class="delete" th:text="${deleteMessage}"></span>
			<div class="team-container">
				<div class="team-div" th:each="team : ${teams}">
					<ul>
						<li>
							<a class="" th:href="@{/rest/team/teamDetails/(id=${team.id})}">
		 						<img class="" th:src="@{'/uploads/teams/' + ${team.id} +'.jpg'}" width="100%" height="200pxpx">
		 					</a>
		 				</li>
						<li>
							<div class="team-li">
								<a  th:text = "${team.teamName}"  th:href="@{/rest/team/teamDetails/(id=${team.id})}"></a>
							</div>
						</li>	
						<li>
							<div sec:authorize="hasRole('ROLE_ADMIN')" class="team-li">
								<a class="edit-button" th:href="@{/rest/team/findById/(id=${team.id})}">Edit</a>
								<a class="delete-button" th:href="@{/rest/team/delete/(id=${team.id})}" >Delete</a>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</div>
	
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
<!--Add new modal start  -->
<div id="addModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Add new Team</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/team/addNew}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Team Name</label>
						<input type="text"  name="teamName" required pattern="[a-zA-Z\s0-9]{4,25}" 
							   title="Team name should be 4-25 character long and contain only letters and numbers">
					</div>
					<div class="form-div">
						<label>Coach</label>
						<select name="coachId" required>
							<option th:each="coach:${coaches}"
							th:value="${coach.id}"
							th:text="${coach.name}+' '+${coach.surname}">
						</select>
					</div>
					<div class="form-div">
						<label>Assistant Coach</label>
						<select name="assistantCoachId" required>
							<option th:each="coach:${coaches}"
							th:value="${coach.id}"
							th:text="${coach.name}+' '+${coach.surname}">
						</select>
					</div>
					<div class="form-div">
						<label>Select image:</label>
						<input required="required" type="file" id="photo" name="file" accept="images/jpeg">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Add new modal end -->

<!--Edit modal start  -->
<div id="editModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Edit Team</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/team/update}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Id</label>
						<input type="text" id="idEdit" name="id" readonly>
					</div>
					<div class="form-div">
						<label>Team Name</label>
						<input type="text" id="teamNameEdit" name="teamName" required pattern="[a-zA-Z\s0-9]{4,25}" 
							   title="Team name should be 4-25 character long">
					</div>
					<div class="form-div">
						<label>Coach</label>
						<select name="coachId" id="coachIdEdit" required>
							<option th:each="coach:${coaches}"
							th:value="${coach.id}"
							th:text="${coach.name}+' '+${coach.surname}">
						</select>
					</div>
					<div class="form-div">
						<label>Assistant Coach</label>
						<select name="assistantCoachId" id="assistantCoachIdEdit" required>
							<option th:each="coach:${coaches}"
							th:value="${coach.id}"
							th:text="${coach.name}+' '+${coach.surname}">
						</select>
					</div>
					<div class="form-div">
						<label>Select image:</label>
						<input type="file" id="photo" name="file" accept="images/jpeg">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Edit modal end-->

<!--Delete modal start  -->
<div id="deleteModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Delete Team</h3>
			</div>
			<div class="modal-body">
				<H2>Are u sure to delete this Team?</H2>
			</div>
			<div class="modal-footer">
				<a href="" class="modalDeleteButton" type="submit">Delete</a>
			</div>
		</div>
	</div>
<!--Delete modal end -->



<script src="/js/addModal.js"></script>
<script src="/js/deleteModal.js"></script>
<script src="/js/teamModal.js"></script>
			
</body>
</html>