<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Training Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<div class="individual-main-container">
		<div class="individual-tittle-div">
			<h1>Training Details</h1>
		</div>
		<div class="individual-attendance-div">
			<h1>Attendance</h1>
		</div>
		<div class="individual-side-div">
			<table class="custom-table">
				<tbody>
					<tr>
						<td>Team:</td>
						<td th:text="${training.team.teamName}"></td>
					</tr>
					<tr>
						<td>Coach:</td>
						<td th:text="${training.team.coach.name}+' '+${training.team.coach.surname}"></td>
					</tr>
					<tr>
						<td>Date:</td>
						<td th:text="${training.date}"></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td th:text="${training.description}"></td>
					</tr>
					<tr>
						<td>File:</td>
						<td>
							<a href="/img/trainings/+'${training.team.teamName}'+/+ '${training.id}' +.jpg">
								<img class="min-images" th:src="@{'/img/trainings/'+'${training.team.teamName}'+'/'+ ${training.id} +'.jpg'}" width="40" height="40">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="individual-center-div">
			<table class="custom-table">
				<tbody>
					<tr>
						<th>Picture</th>
						<th>Name</th>
						<th>Surname</th>
						<th>Position</th>
					</tr>
					<tr th:each="player : ${players}">
						<td >
							<a class="photo-button" th:href="@{/rest/player/playerDetails/(id=${player.id})}">
	 							<img class="min-images" th:src="@{'/img/players/' + ${player.id} +'.jpg'}" width="60" height="60">
	 						</a>
						</td>
						<td th:text="${player.name}"></td>
						<td th:text="${player.surname}"></td>
						<td th:text="${player.position}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	

	
<script src="/js/addModal.js"></script>
<script src="/js/deleteModal.js"></script>
<script src="/js/training.js"></script>		
</body>
</html>