<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Trainings</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	
	<div class="main-container">
		<div class="tittle-div">
			<h1>Trainings</h1>
		</div>
		<div class ="search-div">
			<form th:action="@{/rest/training}">
				<label>Search</label>
				<input class="search-input" id="search-input" type="text" name="keyword" th:value="${keyword}" required />
				
				<input class="search-button" type="submit" value="Search"/>
				
				<input class="clear-button" type="button" value="Clear" id="clear-button"/>
			</form>
			<div sec:authorize= "hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" >
				<button class="add-button"  id="addButton">Add new Training</button>
			</div>
		</div>
		<div class="table-div">
			<table class="custom-table">
				<tbody>
					<tr>
						<th>Team</th>
						<th>Description</th>
						<th>Date</th>
						<th sec:authorize= "hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">Options</th>
					</tr>
					<tr th:each="training : ${trainings}">
						<td>
							<a th:text ="${training.team.teamName}" th:href = "@{/rest/training/trainingDetails/(id=${training.id})}"></a>
						</td>
						<td th:text="${training.description}"></td>
						<td th:text="${training.date}"></td>
						<td sec:authorize= "hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" class="button-group">
							<a class="edit-button" th:href="@{/rest/training/findById/(id=${training.id})}">Edit</a>
							<a class="attendance-button" th:href="@{/rest/training/attendance/(id=${training.id})}">Attendance</a>
							<a class="delete-button" th:href="@{/rest/training/delete/(id=${training.id})}" >Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
<!--Add new modal start  -->
<div id="addModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Add new Training</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/training/addNew}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Description</label>
						<input type="text"  name="description">
					</div>
					<div class="form-div">
						<label>Date</label>
						<input type="date"  name="date">
					</div>
					<div class="form-div">
						<label>Team</label>
						<select name="teamId" required>
							<option>Select Team</option>
							<option th:each="team:${teams}"
							th:value="${team.id}"
							th:text="${team.teamName}">
						</select>
					</div>
					<div class="form-div">
						<label>Select file:</label>
						<input type="file" id="photo" name="file" accept="images/*">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Add new modal end -->

<!--Edit modal start  -->
<div id="editModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Edit Training</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/rest/training/update}" method="post" enctype="multipart/form-data">
					<div class="form-div">
						<label>Id</label>
						<input type="text" id="idEdit"  name="id">
					</div>
					<div class="form-div">
						<label>Description</label>
						<input type="text" id="descriptionEdit"  name="description">
					</div>
					<div class="form-div">
						<label>Date</label>
						<input type="date" id="dateEdit"  name="date">
					</div>
					<div class="form-div">
						<label>Team</label>
						<select name="teamId" id="teamEdit" required>
							<option>Select Team</option>
							<option th:each="team:${teams}"
							th:value="${team.id}"
							th:text="${team.teamName}">
						</select>
					</div>
					<div class="form-div">
						<label>Select file:</label>
						<input type="file" id="fileEdit" name="file" accept="images/*">
					</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Edit modal end -->

<!--Delete modal start  -->
<div id="deleteModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Delete Training</h3>
			</div>
			<div class="modal-body">
				<H2>Are u sure to delete this training?</H2>
			</div>
			<div class="modal-footer">
				<a href="" class="modalDeleteButton" type="submit">Delete</a>
			</div>
		</div>
	</div>
<!--Delete modal end -->
	
<script src="/js/addModal.js"></script>
<script src="/js/deleteModal.js"></script>
<script src="/js/training.js"></script>		
</body>
</html>