<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Administrator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Football management system">
<link href="/css/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<div th:replace="fragments/secureHeader :: secureHeader"></div>
	</header>
	<div class="admin-main-container">
		<div class="admin-tittle1-div">
			<h1 class="tittle">Add new user</h1>
		</div>
		<div class="admin-tittle2-div">
			<h1>Users</h1>
		</div>
		<div class="admin-side1-div">
			<form class="user-form" th:action="@{/secure/admin/user/addUser}" method="post" th:object="${user}">
				<div class="form-div">
						<label>UserName</label>
						<input th:field="${user.username}" required="required" pattern="[a-zA-Z0-9]{4,25}" 
							   title="Username should be 4-25 character long and contain only big, small letters and numbers">
						<span class="delete" th:text="${error}"></span>
				</div>
				<div class="form-div">
						<label>Name</label>
						<input  th:field="${user.name}" required="required" pattern="[a-zA-Z\s]{2,25}" 
							   title="Name should be 2-25 character long and contain only big and small letters">
						
				</div>
				<div class="form-div">
						<label>Surname</label>
						<input  th:field="${user.surname}" required="required" pattern="[a-zA-Z\s]{2,25}" 
							   title="Surname should be 2-25 character long and contain only big and small letters">
						
				</div>
				<div class="form-div">
						<label>Phone</label>
						<input  th:field="${user.phone}" pattern="[0-9]{8,15}" 
							   title="Phone number should contain only numbers and be 8-15 long">
				</div>
				<div class="form-div">
						<label>Email</label>
						<input type="email" th:field="${user.email}">
						
				</div>
				<div class="form-div">
						<label>Role</label>
						<select required="required" name="role">
							<option th:each="role:${roles}"
							th:value="${role.id}"
							th:text="${role.role}"></option>
						</select>
				</div>
				<div class="form-div">
						<label id="password-label">Password</label>
						<input id="passwordEdit" type="password" name="password" required pattern="[a-zA-Z0-9]{4,25}" 
							   title="Password should be 4-25 character long">
						<span class="errors" th:text="${password}"></span>
				</div>
				<div class="form-div">
						<label>Confirm Password</label>
						<input  type="password" name="confirmPassword" required pattern="[a-zA-Z0-9]{4,25}">
						<span class="errors" th:text="${password}"></span>
				</div>
				<div class="form-buttons">
					<button class="modalSaveButton" type="submit">Save</button>
					<input class="clear-button" type="button" value="Clear" id="clear-button"/>
				</div>
			</form>
		</div>
		<div class="admin-center1-div">
			<span class="delete" th:text="${deleteError}"></span>
			<span class="success" th:text="${add}"></span>
			<table class="custom-table">
				<tbody>
					<tr>
						<th>Full Name</th>
						<th>UserName</th>
						<th>Role</th>
						<th>Options</th>
					</tr>
					<tr th:each="user : ${users}">
						<td th:text="${user.name}+' '+${user.surname}"></td>
						<td th:text="${user.username}"></td>
						<td>
							<ul th:each="role:${user.getRoles()}">
								<li th:text="${role.getRole()}"></li>
							</ul>
						</td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" class="button-group">
							<a class="edit-button" th:href="@{/secure/admin/user/findById/(id=${user.id})}">Edit</a>
							<a class="delete-button" th:href="@{/secure/admin/user/delete/(id=${user.id})}" >Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer>
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
<!--Edit modal start  -->
<div id="editModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Edit User</h3>
			</div>
			<div class="modal-body">
				<form th:action="@{/secure/admin/user/update}" method="post" >
					<div class="form-div">
						<label>Id</label>
						<input id="idEdit" type="text" name="id" readonly>
				</div>
				<div class="form-div">
						<label>UserName</label>
						<input id="userNameEdit" th:field="${user.username}" readonly>
						
				</div>
				<div class="form-div">
						<label>Name</label>
						<input id="nameEdit" th:field="${user.name}" required="required" pattern="[a-zA-Z\s]{2,25}" 
							   title="Name should be 4-25 character long and contain only big and small letters" >
						
				</div>
				<div class="form-div">
						<label>Surname</label>
						<input id="surnameEdit" th:field="${user.surname}" required="required" pattern="[a-zA-Z\s]{2,25}" 
							   title="Surname should be 4-25 character long and contain only big and small letters">
						
				</div>
				<div class="form-div">
						<label>Phone</label>
						<input id="phoneEdit" th:field="${user.phone}" pattern="[0-9]{8,15}" 
							   title="Phone number should contain only numbers and be 8-15 long">
				</div>
				<div class="form-div">
						<label>Email</label>
						<input id="emailEdit" th:field="${user.email}">
				</div>
				<div class="form-div">
						<label>Role</label>
						<select id="roleEdit" name="role">
							
							<option th:each="role:${roles}"
							th:value="${role.id}"
							th:text="${role.role}"></option>
						</select>
				</div>
				<div class="form-div">
						<label id="password-label">Password</label>
						<input id="passwordEdit" type="password" name="password" pattern="[a-zA-Z0-9]{4,25}"  
							   title="Password should be 4-25 character long">
						<span class="errors" th:text="${password}"></span>
				</div>
				<div class="form-div">
						<label>Confirm Password</label>
						<input  type="password" name="confirmPassword" pattern="[a-zA-Z0-9]{4,25}" 
							   title="Password should be 4-25 character long">
						<span class="errors" th:text="${password}"></span>
				</div>
					<div class="form-div">
						<button class="modalSaveButton" type="submit">Save</button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
<!--Edit modal end-->
	
	<!--Delete modal start  -->
<div id="deleteModal" class="modal">
		<div class="modalContent">
			<div class="modal-header">
				<span class="modalCloseButton">&times;</span>
				<h3>Delete User</h3>
			</div>
			<div class="modal-body">
				<H2>Are u sure to delete this user?</H2>
			</div>
			<div class="modal-footer">
				<a href="" class="modalDeleteButton" type="submit">Delete</a>
			</div>
		</div>
	</div>
<!--Delete modal end -->
	
	<script src="/js/user.js"></script>
	<script src="/js/deleteModal.js"></script>
</body>
</html>